/*CSS ANIMATIONS AND TRANSITIONS for the Modern Web-978-0-133-98050-9*/
.container {
	width: 100%;
}

.box {
	width: 100px;
	height: 100px;
	background-color: #393;
	position: absolute;
}

.box {
	animation-name: slide, shrink;
	animation-duration: 5s;
	animation-delay: 0;
	animation-iteration-count: 3;
	animation-timing-function: ease-in, ease-in;
  /*animation-direction: reverse;*/
  animation-play-state: paused;
  animation-fill-mode: both;
}

#play, #pause {
  position: absolute;
  top: 120px;
  left: 20px;
}

#pause {
	left: 70px;
}

/*first animation.*/

/*@-webkit-keyframes noor {
from {
left:0
}
to {
left: 600px
}
}


@keyframes noor {

from {
left: 0;
}
to {
left: 600px;
}
}*/



/*
//second animation.
//This animation runs smoother compare to the first.

@-webkit-keyframes slide {
to {
-webkit-transform: translate(600px, 0px);
-ms-transform: translate(600px, 0px);
transform: translate(600px, 0px);

}
}

@keyframes slide {

to {
-webkit-transform: translate(600px, 0px);
-ms-transform: translate(600px, 0px);
transform: translate(600px, 0px);

}
}*/


/*The keyword from is equivalent to 0% , and the keyword to is equivalent
to 100% . When using a percent, the % sign needs to be included. 0 and 100
are invalid values; 0% and 100% are the correct values.*/

@Keyframes slide {

	0% {
		-webkit-transform: translate(0px, 0px);
		-ms-transform: translate(0px, 0px);
		transform: translate(0px, 0px);

	}

	25% {
		-webkit-transform: translate(150px, 0px);
		-ms-transform: translate(150px, 0px);
		transform: translate(150px, 0px);
	}

	50% {
		-webkit-transform: translate(300px, 0px);
		-ms-transform: translate(300px, 0px);
		transform: translate(300px, 0px);
	}

	75% {
		-webkit-transform: translate(450px, 0px);
		-ms-transform: translate(450px, 0px);
		transform: translate(450px, 0px);
	}

	100% {
		-webkit-transform: translate(600px, 0px);
		-ms-transform: translate(600px, 0px);
		transform: translate(600px, 0px);

	}
}

@Keyframes shrink {
	0% {
		width: 100px;
		height: 100px;
	}

	20% {
		top: 10px;
		width: 80px;
		height: 80px;
	}

	40% {
		top: 20px;
		width: 60px;
		height: 60px;
	}

  50% {
    width:50px;
    height: 50px;
  }

	60% {
		top: 20px;
		width: 60px;
		height: 60px;
	}

	80% {
		top: 10px;
		width: 80px;
		height: 80px;
	}

	100% {
		width: 10px;
		height: 10px;
	}
}
